<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>GroupProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBookingController</display-name>
    <servlet-name>addBookingController</servlet-name>
    <servlet-class>PYS.controller.addBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookingController</servlet-name>
    <url-pattern>/addBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCustController</display-name>
    <servlet-name>addCustController</servlet-name>
    <servlet-class>PYS.controller.addCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCustController</servlet-name>
    <url-pattern>/addCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStaffController</display-name>
    <servlet-name>AddStaffController</servlet-name>
    <servlet-class>PYS.controller.AddStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStaffController</servlet-name>
    <url-pattern>/AddStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBookingController</display-name>
    <servlet-name>deleteBookingController</servlet-name>
    <servlet-class>PYS.controller.deleteBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookingController</servlet-name>
    <url-pattern>/deleteBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCustController</display-name>
    <servlet-name>deleteCustController</servlet-name>
    <servlet-class>PYS.controller.deleteCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustController</servlet-name>
    <url-pattern>/deleteCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteStaffController</display-name>
    <servlet-name>deleteStaffController</servlet-name>
    <servlet-class>PYS.controller.deleteStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteStaffController</servlet-name>
    <url-pattern>/deleteStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>invoiceController</display-name>
    <servlet-name>invoiceController</servlet-name>
    <servlet-class>PYS.controller.invoiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoiceController</servlet-name>
    <url-pattern>/invoiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listBookingController</display-name>
    <servlet-name>listBookingController</servlet-name>
    <servlet-class>PYS.controller.listBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listBookingController</servlet-name>
    <url-pattern>/listBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listCustController</display-name>
    <servlet-name>listCustController</servlet-name>
    <servlet-class>PYS.controller.listCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listCustController</servlet-name>
    <url-pattern>/listCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listOneCustController</display-name>
    <servlet-name>listOneCustController</servlet-name>
    <servlet-class>PYS.controller.listOneCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listOneCustController</servlet-name>
    <url-pattern>/listOneCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listStaffController</display-name>
    <servlet-name>listStaffController</servlet-name>
    <servlet-class>PYS.controller.listStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listStaffController</servlet-name>
    <url-pattern>/listStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginStaffServlet</display-name>
    <servlet-name>LoginStaffServlet</servlet-name>
    <servlet-class>PYS.controller.LoginStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginStaffServlet</servlet-name>
    <url-pattern>/LoginStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUserServlet</display-name>
    <servlet-name>LoginUserServlet</servlet-name>
    <servlet-class>PYS.controller.LoginUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUserServlet</servlet-name>
    <url-pattern>/LoginUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>PYS.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rcontroller</display-name>
    <servlet-name>rcontroller</servlet-name>
    <servlet-class>PYS.controller.rcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rcontroller</servlet-name>
    <url-pattern>/rcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reportController</display-name>
    <servlet-name>reportController</servlet-name>
    <servlet-class>PYS.controller.reportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportController</servlet-name>
    <url-pattern>/reportController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>searchController</display-name>
    <servlet-name>searchController</servlet-name>
    <servlet-class>PYS.controller.searchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchController</servlet-name>
    <url-pattern>/searchController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateBookingController</display-name>
    <servlet-name>updateBookingController</servlet-name>
    <servlet-class>PYS.controller.updateBookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBookingController</servlet-name>
    <url-pattern>/updateBookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateCustController</display-name>
    <servlet-name>updateCustController</servlet-name>
    <servlet-class>PYS.controller.updateCustController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCustController</servlet-name>
    <url-pattern>/updateCustController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateStaffController</display-name>
    <servlet-name>updateStaffController</servlet-name>
    <servlet-class>PYS.controller.updateStaffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStaffController</servlet-name>
    <url-pattern>/updateStaffController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePackageController</display-name>
    <servlet-name>updatePackageController</servlet-name>
    <servlet-class>PYS.controller.updatePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePackageController</servlet-name>
    <url-pattern>/updatePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePackageController</display-name>
    <servlet-name>deletePackageController</servlet-name>
    <servlet-class>PYS.controller.deletePackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePackageController</servlet-name>
    <url-pattern>/deletePackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPackageController</display-name>
    <servlet-name>addPackageController</servlet-name>
    <servlet-class>PYS.controller.addPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPackageController</servlet-name>
    <url-pattern>/addPackageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listPackageController</display-name>
    <servlet-name>listPackageController</servlet-name>
    <servlet-class>PYS.controller.listPackageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listPackageController</servlet-name>
    <url-pattern>/listPackageController</url-pattern>
  </servlet-mapping>
</web-app>